
.trigger {
<<<<<<< HEAD
  width: 256px;
  height: 256px;
  margin-left: auto;
  margin-right: auto;
	 background:url(../img/nkcir.png);
}

.triggerText{
  margin-left: auto;
  margin-right: auto;
=======
   width: 256px;
  height: 256px;
  margin-left: auto;
    margin-right: auto;
	background:url(../img/nkcir.png);
  
>>>>>>> 2e4dfd488f7eefb64a8ac2b1d04cc3818d944372
}

.image {
  display: inline-block;
  transition: -webkit-transform 300ms cubic-bezier(0, 0.47, 0.32, 1.97);
  transition: transform 300ms cubic-bezier(0, 0.47, 0.32, 1.97);
  transition: transform 300ms cubic-bezier(0, 0.47, 0.32, 1.97), -webkit-transform 300ms cubic-bezier(0, 0.47, 0.32, 1.97);
  pointer-events: none;
}

<<<<<<< HEAD
.nameText {
  display: absolute;
  margin-left: auto;
  margin-right: auto;
  transition: -webkit-transform 300ms cubic-bezier(0, 0.47, 0.32, 1.97);
  transition: transform 300ms cubic-bezier(0, 0.47, 0.32, 1.97);
  transition: transform 300ms cubic-bezier(0, 0.47, 0.32, 1.97), -webkit-transform 300ms cubic-bezier(0, 0.47, 0.32, 1.97);
  pointer-events: none;
}

=======
>>>>>>> 2e4dfd488f7eefb64a8ac2b1d04cc3818d944372
.trigger:hover .image {
  -webkit-transform: translate(200px, 100px) rotate(20deg);
          transform: translate(200px, 100px) rotate(20deg);
}

<<<<<<< HEAD
.triggerText:hover .nameText {
  -webkit-transform: translate(-200px, 0px);
          transform: translate(-200px, 0px);
}
=======
.trigger:hover .nameText {
  -webkit-transform: translate(-200px, 0px);
          transform: translate(-200px, 0px);
}
>>>>>>> 2e4dfd488f7eefb64a8ac2b1d04cc3818d944372
